<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">

      {% do view.registerCssFile("/assets/app.css") %}
      
      {% hook "seo" %}
   </head>
   <body>

      {% block content %}
      {% endblock %}
      

      {% do view.registerJsFile("/assets/app.bundle.js") %}
   </body>
</html>